<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,434}</string>
                <key>spriteSourceSize</key>
                <string>{326,434}</string>
                <key>textureRect</key>
                <string>{{445,1521},{326,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,442}</string>
                <key>spriteSourceSize</key>
                <string>{326,442}</string>
                <key>textureRect</key>
                <string>{{1,1403},{326,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,464}</string>
                <key>spriteSourceSize</key>
                <string>{366,464}</string>
                <key>textureRect</key>
                <string>{{483,765},{366,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,464}</string>
                <key>spriteSourceSize</key>
                <string>{366,464}</string>
                <key>textureRect</key>
                <string>{{1,1035},{366,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,458}</string>
                <key>spriteSourceSize</key>
                <string>{386,458}</string>
                <key>textureRect</key>
                <string>{{467,1133},{386,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_dmg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,480}</string>
                <key>spriteSourceSize</key>
                <string>{332,480}</string>
                <key>textureRect</key>
                <string>{{1,701},{332,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_dmg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,510}</string>
                <key>spriteSourceSize</key>
                <string>{330,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_dmg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,496}</string>
                <key>spriteSourceSize</key>
                <string>{374,496}</string>
                <key>textureRect</key>
                <string>{{513,1},{374,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_dmg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,486}</string>
                <key>spriteSourceSize</key>
                <string>{366,486}</string>
                <key>textureRect</key>
                <string>{{1,333},{366,486}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_dmg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,482}</string>
                <key>spriteSourceSize</key>
                <string>{386,482}</string>
                <key>textureRect</key>
                <string>{{489,377},{386,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bear.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf8c23548750a3c445e220e0dab9ae4a:169b29d3799ab5af5ed82cff36b088b2:eca324f6bb950e0546dd9b332ef0faa8$</string>
            <key>textureFileName</key>
            <string>bear.png</string>
        </dict>
    </dict>
</plist>
