<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_finish_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-24}</string>
                <key>spriteSize</key>
                <string>{330,652}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,703},{330,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>build_night_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,112}</string>
                <key>spriteSourceSize</key>
                <string>{276,112}</string>
                <key>textureRect</key>
                <string>{{703,1},{276,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_fix_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,112}</string>
                <key>spriteSourceSize</key>
                <string>{276,112}</string>
                <key>textureRect</key>
                <string>{{703,115},{276,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,13}</string>
                <key>spriteSourceSize</key>
                <string>{345,13}</string>
                <key>textureRect</key>
                <string>{{981,1},{345,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_progress_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,13}</string>
                <key>spriteSourceSize</key>
                <string>{343,13}</string>
                <key>textureRect</key>
                <string>{{996,1},{343,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raw.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40468392ca1f2d4ba69156c7813c9387:ad8951f4de1ef165dc1e53daaa3a6564:3b75d2c19c10be6886e2917a60e4f0a2$</string>
            <key>textureFileName</key>
            <string>raw.png</string>
        </dict>
    </dict>
</plist>
